* {
    margin: 0;
    padding: 0;
    box-sizing: boder-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #41A9F4;
    color: #fff;
}

.parent {
    display: grid;
    place-items: center;
}

.main_container {
    width: 24rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    height: 450px;
    margin: 40px 0;
    color: #202124;
}

.header_text {
    margin-top: 28px;
}

.inputAndButton {
    display: flex;
}

.hidden {
    display: none;
}

#inputLocationName, #searchWeather {
    padding: 15px;
    font-size: 1rem;
    border: 2px solid #9c9c9c;
}

#toggle_temperature {
    cursor: pointer;
    border-radius: 999px;
    margin: 12px 0;
    background-color: #32a0ee;
    color: #fff;
    font-size: 1rem;
    border: none;
    padding: 15px;
}

#inputLocationName {
    width: 100%;
    border-radius:  30px 0 0 30px;
    
}

#searchWeather {
    border-radius: 0 30px 30px 0;
    cursor: pointer;
}

#location_name {
    margin-top: 10px;
}

.weather_icon {
    width: 8rem;
    height: 8rem;
    background-color: #dbe1e6;
    border-radius: 999px;
}

.temperature_text {
    font-size: 4rem;
    font-weight: 600;
}

.main_info {
    display: grid;
    place-items: center;
    margin: 20px;
}

#weather_main_info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}

#rainy_sunny_gif {
    width: 60%;
    height: 60%;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
}

#welcome_gif {
    text-align: center;
    font-size: 1.2rem;
}

#weather_status{
    font-size: 1.5rem;
}

ul {
    list-style: none; 
  }
  
  li {
    margin-bottom: 5px; /* Optional: Add some space between list items */
  }
  
  footer {
    background-color: #202124;
    display: grid;
    place-items: center;
    height: 80px;
  }